<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084667577630-2e5rqi8s634l5lqf57firs8k42b4s1da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084667577630-2e5rqi8s634l5lqf57firs8k42b4s1da</string>
	<key>API_KEY</key>
	<string>AIzaSyCiqIP6bV6uSLT7eUyan1r1Xin0gpeK9bg</string>
	<key>GCM_SENDER_ID</key>
	<string>1084667577630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IcyChoo.shortpingMVP</string>
	<key>PROJECT_ID</key>
	<string>shortping-5529c</string>
	<key>STORAGE_BUCKET</key>
	<string>shortping-5529c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084667577630:ios:67d2dadcdaf3194519b50f</string>
</dict>
</plist>